/** Allez-y faites vous plaisir */

/* Limite la hauteur du conteneur des messages */
#messages {
  background-color: rgba(166, 171, 214, 0.335);
  margin-bottom: 1em;
  border: 0pt solid rgb(57, 25, 160);
  border-radius: 0.5em;
  padding: 1em; 
  height: 50vh;
  overflow: auto;
}

.date, .pseudo {
  font-weight: bold;
}
  
.pseudo {
  color: rgb(0, 54, 153);
}

form {
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
}

input, button {
  padding: 0.5em;
}

/* Réglage des tailles flex de bouton en largeur */
#pseudo {
  width: 20%;
}

#contenu {
  width: 60%;
}

button[type="submit"]{
  width: 20%;
}
